@using PGLaw.Application.Sistema.Models;
@using PGLaw.Presentation.Web.Views.Menus;

@model MenuVM

@{
    ViewBag.Title = Model?.Titulo;
    ViewBag.SubTitle = "Menu " + Model.Tipo;
}

<div class="row">
    <div class="col-sm-3">
        @if (Model?.MenuPaiId.HasValue ?? false)
        {
            <div class="card">
                <div class="card-head card-head-sm style-primary-light">
                    <header>Menu Pai</header>
                </div>
                <div class="card-body no-padding">
                    <ul class="list divider-full-bleed">
                        <li class="tile">
                            <a asp-action="Edit" asp-route-id="@Model.MenuPaiId.Value" class="tile-content ink-reaction">
                                <div class="tile-text">
                                    @Model.MenuPaiTitulo
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        }
    </div>
    <div class="col-sm-6">
        <form asp-action="Edit" method="post" class="form" role="form">
            <div class="card card-underline">
                <div class="card-head card-head-sm style-primary">
                    <header>@ViewBag.Title</header>
                    @*<div class="tools">
                            <a asp-action="Remover" asp-route-id="@Model?.Id" class="btn btn-icon-toggle btn-close"><i class="md md-delete"></i></a>
                        </div>*@
                </div>
                <div class="card-body">
                    @Html.Partial("_Menu", Model)
                </div>
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <button type="reset" class="btn btn-flat">Cancel</button>
                        <button type="submit" class="btn btn-flat btn-primary">Atualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        @if (Model.MenusFilhos?.Any() ?? false)
        {
            <div class="card ">
                <div class="card-head card-head-sm style-primary-light">
                    <header>Menus Filhos</header>
                    <div class="tools">
                        <a asp-action="NovoFilho" asp-route-menu-pai-id="@Model.Id" class="btn btn-icon-toggle btn-close"><i class="md md-add"></i></a>
                    </div>
                </div>
                <div class="card-body no-padding">

                    <ul class="list divider-full-bleed">
                        @foreach (var filho in Model.MenusFilhos)
                        {
                            <li class="tile">
                                <a asp-action="Edit" asp-route-id="@filho.Id" class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        @filho.Titulo
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        }
    </div>

</div>

<div class="fixed-action-btn">
    <a class="btn ink-reaction  btn-floating-action btn-floating btn-large btn-primary-dark stick-bottom-righ"><i class="md md-add"></i></a>
    <ul>
        <li>
            <a asp-action="CreateFilho" asp-route-menupaiid="@Model.Id" asp-route-tipo="@MenuTipo.Acesso" class="btn-floating-action btn-floating btn-primary"><i class="@ViewHelper.IconeAcessoClass"></i></a>
        </li>
        @if (!Model.Ferramenta)
        {
            <li>
                <a asp-action="CreateFilho" asp-route-menupaiid="@Model.Id" asp-route-tipo="@MenuTipo.Ferramenta" class="btn-floating-action btn-floating btn-primary"><i class="@ViewHelper.IconeFerramentaClass"></i></a>
            </li>
        }
    </ul>
</div>

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/custom-materialize.js"></script>

    <script>

        // Or with jQuery
        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
        });


    </script>
}